
public/.vs/public/FileContentIndex/70728254-9d5f-4b45-859c-9145a1d3980b.vsidx
public/.vs/slnx.sqlite
public/.vs/public/FileContentIndex/f5f112a9-a135-41c9-a115-1f4c19f29ccb.vsidx
public/.vs/public/v17/.wsuo
