@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
   background: rgb(135,206,235);
background: linear-gradient(0deg, rgba(135,206,235,1) 0%, rgba(55,127,173,1) 100%); 
  background-attachment: fixed;
}

h1 {text-align: center;}
h1 {font-family: 'Nunito', times;}
p {text-align: center;}
p {font-family: 'Nunito', times;}
div {text-align: center;}
div {font-family: 'Nunito', times;}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("https://art.pixilart.com/sr2600020b11aaws3.png");
  background-size: contain;
  color: white;
  text-align: center;
}